{% extends 'main/base.html' %}

{% block title %}
Ваш Профиль
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Добро пожаловать в ваш профиль</h1>

            <div class="profile-info">
                <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                <p><strong>Почта:</strong> {{ user.email }}</p>
            </div>

            <div class="text-center">
                <a class="btn btn-primary mt-3" href="{% url 'logout' %}">Выйти</a>
                <a class="btn btn-secondary mt-3" href="{% url 'home' %}">Назад к главной странице</a>
            </div>

            <p class="text-center mt-3">Теперь вы можете <a href="{% url 'register' %}">зарегистрировать новых пользователей, чтобы они также могли писать статьи</a>.</p>
            <p class="text-center mt-3">Также <a href="{% url 'create_task' %}">Создавайте новые статьи.</a>.</p>,
        </div>
    </div>
</div>
{% endblock %}
